*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    width: 100%;
    
}

header {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.header-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title {
    font-size: 24px;
    margin: 0;
}
.search{
    width: 500px;
    font-size: 18px;
    
}
.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 20px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}
.box-icon{
    width: 40px;
    height: 80px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.swiper-container {
    /* border: 1px solid #000; */
    width: 1500;
    max-width: 1500px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: white;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    background-color: white;
}

.swiper-slide {
    min-width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.swiper-slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 400px;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover, .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #45a049;
}


/* button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
} */

.first-page{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}
.bundle-up{
    width:100%;
    height:50px;
    background-color: #383230;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.membership{
    justify-content: space-between;
    display: flex;
}
.bundle-up h1{
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 25px;
}
.bundle-up h1{
    color: white;
    padding: 10px 10px;
    cursor: pointer;
}
.header{
    width: 100%;
    height: 100px;
    background-color: #FEFDFC;
    display: flex;
    align-items: center;
    padding: 10px 200px;
    justify-content: space-between;
}
.italic{
    width: 200px;
    height: 60px;
    /* border: 1px solid #000; */
    font-size: 28px;
}
.a{
    width: 700px;
    height: 60px;
    /* border: 1px solid #000; */
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a h1{
    color: #383230;
    cursor: pointer;
    font-weight: 20;
}
.search{
    width: 250px;
    height: 60px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 25px;
}
.search h1{
    color: #383230;
    cursor: pointer;
    font-weight: 20;
}
.box-icon{
    width: 50px;
    height: 40px;
    cursor: pointer;
}
.box-icon2{
    width: 50px;
    height: 40px;
    cursor: pointer;
}
.luxury{
    width: 100%;
    height: 150px;
    background-color: #F9F7F4;
    justify-content: center;
    align-items: center;
    display: flex;
}
.luxury h1{
    color: #000;
    font-weight: 20;
    font-size: 48px;
}
.LUX{
    width: 550px;
    height: 70px;
    /* border: 1px solid #000; */
}
.img1{
    width: 100%;
    height: 650px;
    background-color: #000;
    background-image: url("https://s3-alpha-sig.figma.com/img/c446/487b/3a6b4ec4b1df8d500e5bf9a90266ef6b?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=R8NISyyMZyva625f6twgFq~tmOcS3zKP4jbLj9TUT6Rifj7~5VzRaPVOv~CcKPfiPGPPn8V4VE0sXdYwN3vKtrlJphK-BgyUalnsLj6WHBx6FY2Wi~si~50n~3CFsaGC3DnD0n6nbGGuyy-RMKpJI0oRenveS0RtQtXM1lGv--4DK3RzBAGCpdifTfPJSAkfPPxEnRevsifLn1Bji0grHnWvfSrQ8H2E7wP~jc588kNt26xdq4gQH-L7zd8zrP0Cv-ixZbi-LOwgO6EJHuAyxd3s2BLHswRGqVFKq0bpb1wBju0LmlGuRT22HQVPncBsmQrvjeli9V1B9QxFHKFq-A__");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-page{
    width: 100%;
    height: 400px;
    /* border: 1px solid #000; */
    justify-content: center;
    display: flex;
    align-items: center;
}
/* .unbranded{
    width: 760px;
    height: 200px;
    margin-top: 900px;
    /* border: 1px solid #000; */
/* } */ */
.unbranded h1{
    font-size: 48px;
    font-weight: 20;
    font-style: italic;
    font-family:serif;
}
.onlya{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 120px;
}
.onlya a{
    font-size: 32px;
    color: #000;
    font-weight: 20;
}
.vogue{
    width: 100%;
    height: 100px;
    background-color:#F9F7F4;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 14px;
}
.vogue h1{
    font-weight: 10;
    font-style: italic;
}
.skincare-page{
    width: 100%;
    height: 500px;
    border: 1px solid #0000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 10px;
}
.img2{
    /* border: 1px solid #000; */
    width: 650px;
    height: 450px;
    background-image: url("https://s3-alpha-sig.figma.com/img/82be/ceeb/8755863b3727fcb3182c579349fa417f?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NfqHNB-dSGDx5rj9sqfHE4TKt18l6ExHmZ3AAnPBy6cXTyDDfd42c6mb8t-iBifli7tz4ohO-KJpdE7MsS0iy7rWV5P2mR1aFz9TyiElZvvLgQjDbFtHTuQHtOibNwgWvfPzo1nC39~6rzJp0CHCaQpcCBtyw3UoJzlA1AMOitoZHFIABv9V7jJ1sv~9L6fA8iwplMh8kcyl~a7Litgv-x6QDI76FJc~IdRS9Ufecbn~5oHo7ZjxEJIIzrHMibEjA2DMflqlLaqU0jbZeyZ6Nr95WCkHH5-Cn4gxAHlTmxv0bYeJLLI8cV-qxkkR1P8DILdJB~rk092bwtXW~JzIxQ__");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img3{
    /* border: 1px solid #000; */
    width: 650px;
    height: 450px;
    background-image: url("https://s3-alpha-sig.figma.com/img/3149/a192/32d5332cfedb6f76c8bc85075767fbc6?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=h0mpJOmthuVOkNLyYVZKl8Db~wZF1Xi8sUiCsZmeD-5TOaYFX7VP~KIeh3yzTcADsDJGdTceHkmVdA2fI-xZzmr5sDTaLOeltBm-AeOvXOTuHVopE5K51gn7a~T1fqaImaEudhIUB6VJpevtbSoPXjU63VRr-06Q0KYeNC8D5LKZrumMRdMcPR6BT4EKHsBDQ9eVqpDzoblgKpH-7D7y4ejfZlEZIgTTKpsmj7~ZWYeyoBMkUttRe1x70ItjeqQg-ANXBgWRM6re93LDQbJFq7S9d4N5rPc3C~nHeT6dlTjJawZISEzm2SrN5AgDSsDHmqNSwMT24AoUIIpNjachlw__");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.txt{
    /* border: 1px solid #000; */
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.txt1{
    /* border: 1px solid #000; */
    width: 650px;
    height: 70px;
}
.txt1 h1{
    font-size: 40px;
    font-weight: 100;
}
.txt1 a{
    color: #555555;
    font-size: 20px;
}
.txt2{
    /* border: 1px solid #000; */
    width: 650px;
    height: 70px;
}
.txt2 h1{
    font-size: 40px;
    font-weight: 100;
}
.txt2 a{
    color: #555555;
    font-size: 20px;
}
.new-arrivals{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 0px; */
}
.explore{
    width: 580px;
    height: 550px;
    padding: 10px 100px;
}
.explore h1{
    margin-top: 150px;
    font-weight: 100;
    font-size: 40px;
}
.explore p{
    margin-top: 25px;
    font-size: 20px;
}
.button{
    margin-top: 20px;
    width: 180px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 18px;
}
.solid-gold{
    width: 800px;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
}
.earrings{
    width: 410px;
    height: 550px;
    border: 1px solid  #E0DBD2;
}
.img4{
    background-image: url("https://s3-alpha-sig.figma.com/img/ef6f/1565/5a4c12e5af3d79cd6315fbcb9e5a3808?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aH-UIcPVsRL7-IoK1QuJEy2vrAMYxPU64cX0oVjNwbpPsv6oRXu2Gu4mumpkh43DP4V0Z4u1EI7SH6pHtWABua3YuE0O5~erJ7b-F9ZXbopusK6dqLgUiUQQisnXrMl5vE2MKkGwySKRCkJODeNl5ZOAJoYC8EaqQwe7kEsny8s8Yy9s7RwVVI7KZc5SKy96u-Uwfx-0Vvr1HG8Wqc947VGD82ynyWhAhWHupw906DmxAYK-ihBN~Ee0kiyE1x3M6P9bHqkvUfmIsmQtVlbw8HcqnbcN~db66xCbWsyBwSdLMtx2MSOUfhaNYmzQBRx6MCjc022-EBZZS1zXSk31Zw__");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 380px;
    padding: 10px 10px;
}
.button2{
    width: 50px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
}
.button3{
    width: 333px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 10px;
    color: #000;
    font-size: 18px;
    margin-top: 300px;
    margin-left: 25px;
    cursor: pointer;
}
.img-txt1{
    padding: 10px 10px;
}
.img-txt1 h1{
    font-weight: 50;
    font-size: 28px;
    color: #383230;

}
.img-txt1 p{
    font-size: 18px;
    color:#8C8C8C;
    margin-top: 10px;
}
.img-txt1 h2{
    font-size: 18px;
    color: #383230;
    margin-top: 5px;
}
.box-icon3{
    width: 5px;
    height: 3px;
}
.cost1{
    display: flex;
    gap: 15px;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
}
.cost1 h1{
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.cost1 h2{
    font-size: 15px;
    color: #383230;
    font-weight: 200;
}
.necklace{
    width: 400px;
    height: 550px;
    border: 1px solid #E0DBD2;
}
.img5{
    background-image: url("https://s3-alpha-sig.figma.com/img/7cf7/6d64/eea78a92f248a412b59a9241ea19d334?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bCkJMaY6zSeYMS6OVpJLQccMAU4SgiD~qteaiO4tz5ws3r24ORaGpYTCKYbyxH0AdNgkjnpnih7v3yD9hgAhj~RY21Il0RiNGS7fhYeU9awUTLg41gAr492NFLjra7MrOF-GHbV85rUH8QqO5eDq3mXj1uOAG5LXl92aK1g6tIr6oKJSlA6TgJutjfH16-QpgD5wf34mUqybZUSEMtCO481Ear37V2oixJvEUGi~fT4puui-nM~RU9Yf7ZkafadCQxkRNE-ix5p1RTLZ17FhokZjL~-0khWcnDgq3HNiYxsO0L5b3VIMy5OL07cJQhcc2wLBuDt19Z~H4VebXgV1QQ__");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 380px;
    padding: 10px 10px;
}
.button4{
    width: 50px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
}
.button5{
    width: 333px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 10px;
    color: #000;
    font-size: 18px;
    margin-top: 300px;
    margin-left: 25px;
    cursor: pointer;
}
.img-txt2{
    padding: 10px 10px;
}
.img-txt2 h1{
    font-weight: 50;
    font-size: 28px;
    color: #383230;

}
.img-txt2 p{
    font-size: 18px;
    color:#8C8C8C;
    margin-top: 10px;
}
.img-txt2 h2{
    font-size: 18px;
    color: #383230;
    margin-top: 5px;
}
.box-icon4{
    width: 5px;
    height: 3px;
}
.cost2{
    display: flex;
    gap: 15px;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
}
.cost2 h1{
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.cost2 h2{
    font-size: 15px;
    color: #383230;
    font-weight: 200;
}
.lines{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 700px;
    border: 1px solid #000;
}
.line2{
    width: 700px;
    border: 1px solid #000;
} 
.box-icon5{
    width: 80px;
    height: 100px;
}
